body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
  margin: 16px auto;
  border: 8px solid #eee;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 8px;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  display: block;
  padding: 8px 24px;
  margin: auto;
}